.btn {
    width: 172px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    text-align: center;
    padding: 16px 20px;
    display: flex;
    justify-content: space-around;
}